.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
  height: 26px;
  width: 26px;
  /* border: 1px solid #000000; */
}

.burger {
  height: 3px;
  width: 100%;
  background-color: #000000;
}
